body {
    background: #d2d2c1 url(img/fundo.png);
    font: 16px Arial, Halvetica, sans-serif;
}

#principal{
    width: 900px;
}

#menu {
    background: #c5c5b2;
    padding: 18px;
}

#conteudo {
    background: #e8e8d9;
    padding: 10px;
}

a {
    color: #4b566a;
    text-decoration: none;
    font-weight: bold;
     padding: 5px;
}

#rodape {
    text-align: center;
}

h1 {
    color: #828271;
    font-size: 1.2em;
}